asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
Bottleneck @ file:///home/task_176193795831906/conda-bld/bottleneck_1761938007449/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy @ file:///home/task_176364362873675/conda-bld/contourpy_1763643921742/work
cycler @ file:///home/task_176606789349323/croot/cycler_1766067915143/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1765840814/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fonttools @ file:///home/task_176544511140267/conda-bld/fonttools_1765445134313/work
ImageIO @ file:///home/task_176295403596078/conda-bld/imageio_1762954050888/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1761567932/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1767621166/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
joblib @ file:///home/task_176786813814043/croot/joblib_1767868158778/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
kiwisolver @ file:///home/task_176415926903268/conda-bld/kiwisolver_1764159297481/work
lazy_loader @ file:///croot/lazy_loader_1718176737906/work
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mkl-service==2.5.2
mkl_fft @ file:///home/task_176159258761192/conda-bld/mkl_fft_1761592901799/work
mkl_random @ file:///home/task_176159293348456/conda-bld/mkl_random_1761592947335/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/task_176537858778399/conda-bld/networkx_1765378626589/work
numexpr @ file:///home/task_176216559693183/conda-bld/numexpr_1762165608108/work
numpy @ file:///croot/numpy_and_numpy_base_1755590845055/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=f3e54aefc576bc7265202a826a4e3701a42fed06e36218192a45f04ea42987fb
opencv-python==4.12.0
opencv-python-headless==4.12.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/task_176233228033452/conda-bld/pandas_1762332325070/work/dist/pandas-2.3.3-cp311-cp311-linux_x86_64.whl#sha256=920644f9267829793147d85d419f7e25d0fb8c679dd7fa07f7532a94488a1690
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow @ file:///home/task_176252754139500/conda-bld/pillow_1762528238884/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1764950726/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1767012395/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py4j @ file:///croot/py4j_1690918206326/work
pyarrow @ file:///home/task_176493895676100/conda-bld/pyarrow_1764939449642/work/python
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing @ file:///home/task_176397386651997/conda-bld/pyparsing_1763973878368/work
PyQt6==6.9.1
PyQt6_sip @ file:///home/task_175751008951770/conda-bld/pyqt-split_1757511023622/work/pyqt_sip
pyspark @ file:///croot/pyspark_1740491456748/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
pytz @ file:///croot/pytz_1752135852232/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1757387012/work
scikit-image @ file:///home/task_176477244714971/conda-bld/scikit-image_1764772820534/work
scikit-learn @ file:///home/task_176609794171471/croot/scikit-learn_1766097962795/work
scipy @ file:///home/task_176219485285994/conda-bld/scipy_1762195051052/work/dist/scipy-1.16.3-cp311-cp311-linux_x86_64.whl#sha256=d486aaa7b123160a71315bca08fdfd9eca6d720affdc15e1b649309e52a3188a
seaborn @ file:///croot/seaborn_1749110291192/work
sip @ file:///croot/sip_1756223371714/work
six @ file:///croot/six_1744271502820/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
threadpoolctl @ file:///home/task_176436167871245/conda-bld/threadpoolctl_1764361726010/work
tifffile @ file:///home/task_176787080432821/croot/tifffile_1767871228329/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1765836374256/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
